@media screen and (min-width: 0px) {
    
    .row {
      margin-left:-0px;
    }
    
    .row:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
    
    .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
      border-left-width:0px;
      padding:0 0px;
      border:0px solid rgba(0,0,0,0);
      float:left;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
      -moz-background-clip:padding-box !important;
      -webkit-background-clip:padding-box !important;
      background-clip:padding-box !important;
      position:relative;
    }
    
    .span1 {
        width:12.5%;
    }
    .span2 {
        width:25%;
    }
    .span3 {
        width:37.5%;
    }
    .span4 {
        width:50%;
    }
    .span5 {
        width:62.5%;
    }
    .span6 {
        width:75%;
    }
    .span7 {
        width:87.5%;
    }
    .span8 {
        width:100%;
    }
    .offset1 {
        margin-left:12.5%;
    }
    .offset2 {
        margin-left:25%;
    }
    .offset3 {
        margin-left:37.5%;
    }
    .offset4 {
        margin-left:50%;
    }
    
    /*
    .span1, .span3, .span5, .span7 {
      background-color:#ccc;
    }
    
    .span2, .span4, .span6, .span8 {
      background-color:#666;
    }
    */
    
    .row {
      .row {
        .span2 {
          width: 33.334%; 
        }
        .span4 {
          width:66.667%;
        }
        .span6 {
          width:100%;
        }
      }
    }
    
}