.sprite( @x:0, @y:0 ){
  display:block;
  background-image:url(../img/sprites.png);
  background-repeat:no-repeat;
  background-position: @x @y;
}

.illustration( @x:0, @y:0 ){
  display:block;
  background-image:url(../img/illustrations.gif);
  background-repeat:no-repeat;
  background-position: @x @y;
}

.transition( @t:500ms ){
  -webkit-transition: all @t cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition: all @t cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition: all @t cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -ms-transition: all @t cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all @t cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
