/*
 * The Superyacht Agency
 *
 * Developer: Ben Palmer (madebyreformat.co.uk)
 * Date: 1st Sep 2013
 * Version: 1.0
 */

/* Imports */

@import "h5bp.less";  
@import "normalize.less";
@import "mixins.less";

/* Variables */

@red: 		  #e00e2a;
@darkRed:   #9F2705;
@grey: 	    #949494;
@midGrey:   #7F7F7F;
@darkGrey: 	#363636;
@royalBlue:	#264353;
@lightBlue: #75A8BE;
@emerald:		#47A88F;
@lime:      #9CC34C;

@fs : 16px;
@lh : 20px;

/* Mixins */

.proxima(){
  font-family:"proxima-nova",sans-serif;
}


/* Start */

html {
  height:100%;
}

body {
  font-size: @fs;
  line-height: @lh;
  height:100%;
  background-color:#fff;
}

.container {
  width:940px;
  margin:0 auto;
}

#main-header {
  position:relative;
  height:140px;
  a#logo {
    display:block;
    width:140px;
    height:140px;
    background:url(../img/logo.svg);
    text-indent:-999em;
    position:absolute;
    right:0;
  }
}

nav.global {
  position:absolute;
  left:0;
  bottom:10px;
  ul {
    padding:0;
    margin:0;
    height:55px;
    li {
      height:100%;
      float:left;
      border-left:1px solid #D8D8D8;
      
      &:hover {
        border-left:1px solid #fff;
        ul.sub-menu {
          //display:block;
        }
        a {
          background-color:#D8D8D8;
          color:#fff;
        }
        li {
          a {
            color:@grey;
          }
        }
      }
      a {
        padding-top:3px;
        font-size:1em*(13/@fs);
        line-height:1em*(16/13);
        padding-left:1em*(5/@fs);
        color:@grey;
        text-decoration:none;
        .proxima();
        padding-bottom:3px;
        display:block;
        padding-right:1em;
        height:49px;
        .transition(250ms);
      }
      &.menu-item-23 {
        border-left:0;
        padding-left:0;
        a {
          background:url(../img/icon-home-grey.svg) no-repeat;
          display:block;
          width:21px;
          height:19px;
          text-indent:-999em;
        }
      }
      /*
      &.menu-item-25 { background:url(../img/nav-arrow-royalblue.gif) 5px bottom no-repeat; }
      &.menu-item-26 { background:url(../img/nav-arrow-emerald.gif) 5px bottom no-repeat; }
      &.menu-item-27 { background:url(../img/nav-arrow-lightblue.gif) 5px bottom no-repeat; }
      &.menu-item-28 { background:url(../img/nav-arrow-lime.gif) 5px bottom no-repeat; }
      */
      &.current-menu-item, &.current_page_item, &.current_page_parent {
        a {
          color:@red;
        }
        &.menu-item-23 {
          a {
            background:url(../img/icon-home-red.svg) no-repeat;
          }
        }
        /*
        &.menu-item-25 a { color:@royalBlue; }
        &.menu-item-26 a { color:@emerald; }
        &.menu-item-27 a { color:@lightBlue; }
        &.menu-item-28 a { color:@lime; }
        */
      }
    }
    ul.sub-menu {
      display:none;
      position:absolute;
      z-index:1000;
      background-color:#d8d8d8;
      overflow:hidden;
      height:auto;
      width:200px;
      padding:5px 0 5px 0;
      li {
        clear:both;
        float:none;
        padding:0;
        border:0;
        height:auto;
        a {
          height:auto;
          .proxima();
          font-size:1em*(13/@fs);
          line-height:1em*(16/13);
          color:@grey;
          padding:0 0 0 5px;
        }
        &:hover {
          border:0;
        }
      }
    }
  }
}

.content {
  .banner {
    overflow:hidden;
    img {
      float:left;
    }
    .placeholder {
      display:block;
      background-color:#e5e5e5;
      float:left;
      &.feature1 {
        width:470px;
        height:340px;
      }
      &.feature2 {
        width:470px;
        height:235px;
      }
      &.banner {
        width:940px;
        height:340px;
      }
      &.thumbnail {
        width:235px;
        height:235px;
        background-color:#f5f5f5;
      }
    }
    .feature {
      float:right;
      display:block;
      width:390px;
      height:260px;
      padding:40px;
      background:@red;
      h1 {
        color:lighten(@red,30%);
        .proxima();
        margin:0;
        font-weight:100;
        font-size:1em*(34/@fs);
        line-height:1em*(38/34);
      }
      p {
        font-size:1em*(34/@fs);
        line-height:1em*(38/34);
        .proxima();
        font-weight:100;
        margin:0;
        color:#fff;
      }
    }
    .block {
      width:410px;
      height:175px;
      float:left;
      margin:0;
      padding:30px;
      background-color:@grey;
      position:relative;
      &.sml {
        width:195px;
        padding-left:20px;
        padding-right:20px;
      }
      &.black {
        background-color:#000;
      }
      &.red {
        background-color:@red;
      }
      &.wide {
        width:740px;
        height:auto;
        p {
          font-size:1em*(34/@fs);
          line-height:1em*(38/34);
          font-weight:100;
        }
      }
      p {
        margin:0 0 1em*(26/20) 0;
        .proxima();
        color:#fff;
        font-size:1em*(20/@fs);
        line-height:1em*(26/20);
        &.lrg {
          font-size:1em*(34/@fs);
          line-height:1em*(38/34);
        }
        &.dl {
          margin:0;
        }
				a {
					color:#fff;
					text-decoration:none;
					.transition();
					&:hover {
						color:#333;
					}
				}
      }
      footer {
        position:absolute;
        bottom:30px;
        p {
          font-size:1em;
        }
      }
    }
  }
}

.main {
  overflow:hidden;
  &.full {
    width:940px;
    article {
      width:100%;
    }
    h1 {
      font-size:1em*(34/@fs);
      line-height:1em*(38/34);
      color:@red;
      .proxima();
      font-weight:100;
      border-bottom:1px solid lighten(@red,30%);
      padding:1em*(50/34) 0;
      margin:0 0 1em 0;
    }
  }
  .intro {
    p {
      font-size:1em*(34/@fs);
      line-height:1em*(38/34);
      margin:1em*(38/34) 0;
      .proxima();
      font-weight:100;
      color:@red;
      width:470px;
    }
    border-bottom:1px solid lighten(@red,30%);
  }
  aside {
    width:460px;
    float:left;
    p {
      font-size:1em*(20/@fs);
      line-height:1em*(26/20);
      margin:1em 0 1em*(26/20) 0;
      .proxima();
      font-weight:400;
    }
  }
  article {
    width:470px;
    float:right;
    h1, h2, h3, h4 {
      .proxima();
      color:@red;
      font-size:1em;
      line-height:1em*(20/@fs);
      margin:1em*(20/@fs) 0;
    }
    p {
      .proxima();
      color:@grey;
      font-size:1em;
      line-height:1em*(20/@fs);
      margin:1em*(20/@fs) 0;
    }
    ul, ol {
      .proxima();
      color:@red;
      font-size:1em;
      line-height:1em*(20/@fs);
      margin:1em*(20/@fs) 0;
      a {
        color:@red;
      }
    }
    blockquote {
      border-left:1px solid @grey;
      margin-left:0;
      padding-left:1.5em;
      p {
        color:@grey;
        font-size:1em*(20/@fs);
        line-height:1em*(26/20);
      }
    }
  }
}

.team {
  overflow:100%;
  .member {
    width:800px;
    img {
      float:left;
    }
    .blank {
      display:block;
      width:235px;
      height:235px;
      float:left;
      background-color:#f5f5f5;
    }
    article {
      float:right;
      width:565px;
      background-color:#000;
      height:235px;
      position:relative;
      header {
        position:absolute;
        left:50px;
        top:30px;
        h1 {
          .proxima();
          font-size:1em*(34/@fs);
          line-height:1em;
          color:#fff;
          font-weight:100;
          span {
            font-weight:700;
            text-transform:uppercase;
          }
          margin:0;
        }
        h2 {
          .proxima();
          font-size:1em*(24/@fs);
          line-height:1em;
          font-weight:100;
          margin:0;
          color:#fff;
          text-transform:uppercase;
        }
      }
      ul {
        list-style-type:none;
        padding:0;
        margin:0;
        color:#b0b0b0;
        font-size:1em;
        line-height:@lh;
        .proxima();
        position:absolute;
        bottom:30px;
        left:50px;
        font-weight:300;
        li {
          span {
            display:inline-block;
            width:60px;
          }
          a {
            color:#b0b0b0;
            text-decoration:none;
            .transition();
            &:hover {
              color:#fff;
            }
          }
        }
      }
    }
    &.right {
      img {
        float:right;
      }
      .blank {
        float:right;
      }
      article {
        float:left;
        background-color:#333;
      }
    }
  }
}

.royal-blue {
  nav.global ul li {
    &.current-menu-item, &.current_page_item, &.current_page_parent {
      a {
        color:@royalBlue;
      }
    }
  }
  .banner .feature { background:@royalBlue; }
  .banner .feature h1 { color:lighten(@royalBlue,30%); }
  .main .intro { border-bottom:1px solid lighten(@royalBlue,30%); }
  .main .intro p, .main article ul, .main article ol { color:@royalBlue; }
}

.light-blue {
  nav.global ul li {
    &.current-menu-item, &.current_page_item, &.current_page_parent {
      a {
        color:@lightBlue;
      }
    }
  }
  .banner .feature { background:@lightBlue; }
  .banner .feature h1 { color:lighten(@lightBlue,30%); }
  .main .intro { border-bottom:1px solid lighten(@lightBlue,30%); }
  .main .intro p, .main article ul, .main article ol { color:@lightBlue; }
}

.emerald {
  nav.global ul li {
    &.current-menu-item, &.current_page_item, &.current_page_parent {
      a {
        color:@emerald;
      }
    }
  }
  .banner .feature { background:@emerald; }
  .banner .feature h1 { color:lighten(@emerald,30%); }
  .main .intro { border-bottom:1px solid lighten(@emerald,30%); }
  .main .intro p, .main article ul, .main article ol { color:@emerald; }
}

.lime {
  nav.global ul li {
    &.current-menu-item, &.current_page_item, &.current_page_parent {
      a {
        color:@lime;
      }
    }
  }
  .banner .feature { background:@lime; }
  .banner .feature h1 { color:lighten(@lime,30%); }
  .main .intro { border-bottom:1px solid lighten(@lime,30%); }
  .main .intro p, .main article ul, .main article ol { color:@lime; }
}

footer#main-footer {
  clear:both;
  padding:1em*(40/@fs) 0 1em 0;
  a {
    margin-right:5px;
    color:@grey;
    text-decoration:none;
    &:hover {
      color:@red;
    }
  }
  p {
    font-size:1em*(13/@fs);
    line-height:1em*(16/13);
    color:@grey;
    .proxima();
  }
  ul {
    font-size:1em*(13/@fs);
    line-height:1em*(16/13);
    list-style-type:none;
    padding:0;
    .proxima();
    li {
      display:inline-block;
      
    }
  }
}

.blog, .archive, .single-post, .page-template-tmpl-property-list-php {
  h1.title {
    font-size:1em*(34/@fs);
    line-height:1em*(38/34);
    color:@red;
    .proxima();
    font-weight:100;
    border-bottom:1px solid lighten(@red,30%);
    padding:1em*(50/34) 0;
    margin:0 0 1em 0;
  }
  .sidebar {
    width:225px;
    float:left;
    header {
      color:@red;
      .proxima();
      a {
        color:@red;
        text-decoration:none;
        padding-left:12px;
        background:url(../img/archive-arrow-left.svg) no-repeat left center;
      }
    }
    ul {
      .proxima();
      font-size:1em;
      line-height:1em*(20/@fs);
      margin:1em*(20/@fs) 0;
      list-style-type:none;
      color:@grey;
      padding:0;
      li {
        a {
          color:@grey;
          text-decoration:none;
          &.active {
            color:#333;
          }
          em {
            font-style:normal;
            color:#ccc;
          }
          &:hover {
            color:@red;
          }
        }
        span {
          cursor:pointer;
          display:block;
          width:52px;
          background:url(../img/archive-arrow-up.svg) no-repeat right center;
          &.active {
            background:url(../img/archive-arrow-down.svg) no-repeat right center;
          }

        }
        ul {
          margin:0 0 1em*(20/@fs) 40px;
          display:none;
          li {
            a {
              color:@grey;
              text-decoration:none;
              &:hover {
                color:@red;
              }
            }
          }
        }
      }
    }
  }
  #news, #property-list {
    width:705px;
    float:right;
    p {
      font-size:1em*(20/@fs);
      line-height:1em*(26/20);
      margin:0 0 1em*(26/20) 0;
      .proxima();
      width:470px;
      em {
        color:@red;
        font-style:normal;
      }
      a {
        color:@red;
        text-decoration:none;
        &:hover {
          text-decoration:underline;
        }
      }
    }
    article {
      margin-bottom:10px;
      overflow:hidden;
      a.img {
        float:left;
        width:470px;
        height:235px;
        background-color:#f5f5f5;
      }
      div {
        position:relative;
        width:195px;
        height:195px;
        float:right;
        background-color:#E4E4E4;
        padding:20px;
        h1 {
          font-size:1em*(20/@fs);
          line-height:1em*(26/20);
          margin:0;
          color:@grey;
          font-weight:400;
          .proxima();
          a {
            color:@grey;
            text-decoration:none;
            &:hover {
              color:@red;
            }
          }
        }
        p {
          font-size:1em;
          &.date {

          }
        }
        .details {
          width: 195px;
          height: auto;
          display: block;
          position:absolute;
          bottom:40px;
          padding: 0;
          p {
            margin:5px 0;
            color:#666;
          }
        }
        a.read-more {
          display:block;
          width:202px;
          padding:0 10px 0 23px;
          font-size:1em*(13/@fs);
          line-height:30px;
          color:#fff;
          text-decoration:none;
          text-transform:uppercase;
          font-weight:400;
          .proxima();
          position:absolute;
          bottom:0;
          left:0;
          background:@grey url(../img/icon-plus.svg) no-repeat 10px 10px;
          &:hover {
            background-color:@red;
            background-image:url(../img/icon-plus-white.svg);
          }
        }
      }
    }
    .postnav {
      margin:20px 0;
      padding:0;
      li {
        width:235px;
        a {
          display:block;
          padding:0 10px 0 10px;
          font-size:1em*(13/@fs);
          line-height:30px;
          color:#fff;
          text-decoration:none;
          text-transform:uppercase;
          font-weight:400;
          .proxima();
          background-color:@darkGrey;
          &:hover {
            background-color:@red;
          }
        }
        &.previous {
          float:left;
          a {
            width:449px;
            text-align:left;
          }
        }
        &.next {
          float:right;
          a {
            text-align:right;
          }
        }
        
      }
    }
  }
  #property-list {
    article {
      div {
        float:none;
        height:auto;
        padding: 0;
        background-color: transparent;
        a {
          width:437px;
        }
        h2 {
          font-size:1em*(20/@fs);
          line-height:1em*(26/20);
          margin:0;
          color:@grey;
          font-weight:400;
          .proxima();
        }
        h3 {
          font-size:1em*(20/@fs);
          line-height:1em*(26/20);
          margin:20px 0 0 0;
          color:@grey;
          font-weight:700;
          .proxima();
        }
      }
      .details {
        background-color: #E4E4E4;
        float:right;
        padding:20px;
        width: 430px;
        height:195px;
      }
      .cycle-slideshow {
        position: relative;
        width:235px;
        height:235px;
        float:left;
        background-color:#f5f5f5;
        padding: 0;
        .cycle-pager {
          position: absolute;
          bottom:10px;
          z-index:1000;
          text-align: center;
          font-size:2em;
          width:100%;
          line-height:10px;
          span {
            color:#f5f5f5;
            cursor:pointer;
            &.cycle-pager-active {
              color:@red;
              cursor:default;
            }
          }
        }
      }
    }
  }
  #single {
    width:705px;
    float:right;
    article {
      h1 {
        font-size:1em*(34/@fs);
        line-height:1em*(38/34);
        margin:0 0 1em*(38/34) 0;
        .proxima();
        font-weight:100;
        color:@red;
        width:470px;
      }
      p {
        .proxima();
        color:@grey;
        font-size:1em;
        line-height:1em*(20/@fs);
        margin:1em*(20/@fs) 0;
      }
      a {
        color:@red;
      }
      ul, ol {
        .proxima();
        color:@red;
        font-size:1em;
        line-height:1em*(20/@fs);
        margin:1em*(20/@fs) 0;
      }
      blockquote {
        border-left:1px solid @grey;
        margin-left:0;
        padding-left:1.5em;
        p {
          color:@grey;
          font-size:1em*(20/@fs);
          line-height:1em*(26/20);
					margin-bottom:1em*(26/20);
        }
      }
    }
  }
}

.gform_wrapper {
  .validation_error {
    .proxima();
    color:#fff;
    background-color:@red;
    padding:5px;
    margin:1.5em 0;
  }
  .gform_body {
    .gform_fields {
      list-style-type:none;
      padding:0;
      margin:0;
      .gfield {
        margin:0 0 5px 0;
        overflow:hidden;
        .gfield_label {
          display:inline-block;
          width:100px;
          float:left;
          line-height:1em;
          padding:5px 0;
          color:@grey;
        }
        .gfield_required {
          color:@red;
        }
        .ginput_container {
          width:370px;
          float:left;
          input, textarea {
            width:360px;
            padding:5px;
            background-color:#f5f5f5;
            border:0;
            line-height:1em;
            .proxima();
            outline:none;
          }
        }
        .validation_message {
          color:@red;
          float:left;
          padding:5px 0;
          line-height:1em;
          width:370px;
          margin:5px 0 0 0;
          margin-left:100px;
        }
      }
      .gfield_error {
        .ginput_container {
          input, textarea {
            background-color:lighten(@red,30%);
            color:@red;
          }
        }
      }
      .gfield_contains_required {
        
      }
    }
    .gform_validation_container {
      // honey pot
      display:none;
    }
  }
  .gform_footer {
    .gform_button {
      display:block;
      width:202px;
      padding:6px 10px 6px 23px;
      font-size:1em*(13/@fs);
      line-height:1em;
      color:#fff;
      text-decoration:none;
      text-transform:uppercase;
      font-weight:400;
      .proxima();
      border:0;
      text-align:left;
      margin-left:100px;
      background:@darkGrey url(../img/icon-plus.svg) no-repeat 10px center;
      &:hover {
        background-color:@red;
        background-image:url(../img/icon-plus-white.svg);
      }
    }
  }
}
.gform_confirmation_wrapper  {
  .proxima();
  color:@grey;
  .gform_confirmation_message_1 {
    color:@lime;
  }
}

#map {
  display:block;
  width:940px;
  height:420px;
  background-color:#f5f5f5;
}

.home {
  #splash {
    display:block;
    width:940px;
    height:470px;
    overflow:hidden;
    .cycle-pager {
      position:absolute;
      bottom:10px;
      left:10px;
      z-index:9999;
      line-height:10px;
      font-size:2em;
      span {
        color:#fff;
        cursor:pointer;
        .transition();
        &:hover {
          color:lighten(@darkGrey,20%);
        }
      }
      span.cycle-pager-active {
        color:@red;
      }
    }
    .slide {
      width:940px;
      height:470px;
      img {
        float:left;
      }
      article {
        float:left;
        background-color:@red;
        display:block;
        width:410px;
        height:410px;
        padding:30px;
        position:relative;
        h1 {
          font-size:1em*(34/@fs);
          line-height:1em*(34/34);
          color:#fff;
          .proxima();
          font-weight:100;
          margin:20px 0 0 0;
        }
        h2 {
          font-size:1em*(34/@fs);
          line-height:1em*(34/34);
          color:lighten(@red,30%);
          .proxima();
          font-weight:100;
          margin:0;
        }
        p {
          color:#fff;
          .proxima();
          margin:10px 0;
        }
        ul {
          color:#fff;
          .proxima();
          list-style-type:none;
          padding:0;
          margin:0;
          display:inline-block;
          li {
            border-bottom:1px solid darken(@red,10%);
            line-height:30px;
            &:last-child {
              border-bottom:0;
            }
          }
        }
        a {
          display:block;
          width:202px;
          padding:0 10px 0 23px;
          font-size:1em*(13/@fs);
          line-height:30px;
          color:#fff;
          text-decoration:none;
          text-transform:uppercase;
          font-weight:400;
          .proxima();
          position:absolute;
          bottom:0;
          left:0;
          background:darken(@red,10%) url(../img/icon-plus.svg) no-repeat 10px 10px;
          &:hover {
            background-color:@darkGrey;
            background-image:url(../img/icon-plus-white.svg);
          }
        }
        &.royal-blue {
          background-color:@royalBlue;
          h1 {
            color:lighten(@royalBlue,30%);
          }
          h2 {
            color:#fff;
          }
          ul li {
            border-bottom:1px solid lighten(@royalBlue,10%);
            &:last-child {
              border-bottom:0;
            }
          }
          a {
            background-color:lighten(@royalBlue,10%);
          }
        }
        &.light-blue {
          background-color:@lightBlue;
          h1 {
            color:lighten(@lightBlue,15%);
          }
          h2 {
            color:#fff;
          }
          ul li {
            border-bottom:1px solid lighten(@lightBlue,10%);
            &:last-child {
              border-bottom:0;
            }
          }
          a {
            background-color:lighten(@lightBlue,10%);
          }
        }
        &.emerald {
          background-color:@emerald;
          h1 {
            color:lighten(@emerald,20%);
          }
          h2 {
            color:#fff;
          }
          ul li {
            border-bottom:1px solid lighten(@emerald,10%);
            &:last-child {
              border-bottom:0;
            }
          }
          a {
            background-color:lighten(@emerald,10%);
          }
        }
        &.lime {
          background-color:@lime;
          h1 {
            color:lighten(@lime,30%);
          }
          h2 {
            color:#fff;
          }
          ul li {
            border-bottom:1px solid lighten(@lime,10%);
          }
          a {
            background-color:lighten(@lime,10%);
          }
        }
      }
    }
  }
  .widget {
    display:block;
    width:470px;
    height:160px;
    float:left;
    position:relative;
    background-color:@grey;
    &#newsletter {
      width:940px;
      img {
        position:absolute;
        right:0;
        z-index:4;
      }
      span {
        display:block;
        background:url(../img/grey-arrow.png);
        width:40px;
        height:160px;
        position:absolute;
        z-index:5;
        top:0;
        left:470px;
      }
    }
    div {
      display:block;
      width:430px;
      height:120px;
      position:absolute;
      left:0;
      padding:20px;
      header {
        .proxima();
        color:#fff;
        margin:0 0 5px 0;
      }
      p {
        &.lrg {
          font-size:1em*(34/@fs);
          line-height:1em*(34/34);
          color:#fff;
          .proxima();
          font-weight:100;
          margin:0;
        }
      }
      ul {
        list-style-type:none;
        margin:0;
        padding:0;
        .proxima();
        li {
          color:#fff;
          font-size:1em*(20/@fs);
          line-height:1em*(24/20);
          span {
            display:inline-block;
            width:80px;
          }
          a {
            color:#fff;
            text-decoration:none;
            &:hover {
              color:@red;
            }
            &.grey {
              color:@grey;
            }
          }
        }
      }
      a.btn {
        display:block;
        width:202px;
        padding:0 10px 0 23px;
        font-size:1em*(13/@fs);
        line-height:30px;
        color:#fff;
        text-decoration:none;
        text-transform:uppercase;
        font-weight:400;
        .proxima();
        position:absolute;
        bottom:0;
        left:0;
        background:darken(@red,10%) url(../img/icon-plus.svg) no-repeat 10px 10px;
        &:hover {
          background-color:@darkGrey;
          background-image:url(../img/icon-plus-white.svg);
        }
      }
    }
    &.grey {
      a.btn {
        background-color:darken(@grey,10%);
      }
    }
    &.black {
      background-color:#000;
      header {
        color:@red;
      }
      a.btn {
        background-color:@darkGrey;
      }
    }
    &.red {
      background-color:@red;
      header {
        color:lighten(@red,35%)
      }
      a.btn {
        background-color:darken(@red,10%);
      }
    }
    &#twitter {
      #tweets {
        padding:0;
        position:absolute;
        left:20px;
        .tweet {
          padding:0;
          height:115px;
          position:relative;
          p {
            margin:0;
            .proxima();
            color:#fff;
            a {
              color:lighten(@red,25%);
              text-decoration:none;
              &:hover {
                text-decoration:underline;
              }
            }
            &.date {
              color:darken(@red,20%);
              font-size:12px;
              position:absolute;
              right:5px;
              bottom:15px;
            }
          }
        }
      }
    }
  }
}

@import "cookies.less";