/*
 * The Superyacht Agency
 *
 * Developer: Ben Palmer (madebyreformat.co.uk)
 * Date: 1st Sep 2013
 * Version: 1.0
 */
/* Imports */
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/*! normalize.css v1.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Variables */
/* Mixins */
/* Start */
html {
  height: 100%;
}
body {
  font-size: 16px;
  line-height: 20px;
  height: 100%;
  background-color: #fff;
}
.container {
  width: 940px;
  margin: 0 auto;
}
#main-header {
  position: relative;
  height: 140px;
}
#main-header a#logo {
  display: block;
  width: 140px;
  height: 140px;
  background: url(../img/logo.svg);
  text-indent: -999em;
  position: absolute;
  right: 0;
}
nav.global {
  position: absolute;
  left: 0;
  bottom: 10px;
}
nav.global ul {
  padding: 0;
  margin: 0;
  height: 55px;
}
nav.global ul li {
  height: 100%;
  float: left;
  border-left: 1px solid #D8D8D8;
  /*
      &.menu-item-25 { background:url(../img/nav-arrow-royalblue.gif) 5px bottom no-repeat; }
      &.menu-item-26 { background:url(../img/nav-arrow-emerald.gif) 5px bottom no-repeat; }
      &.menu-item-27 { background:url(../img/nav-arrow-lightblue.gif) 5px bottom no-repeat; }
      &.menu-item-28 { background:url(../img/nav-arrow-lime.gif) 5px bottom no-repeat; }
      */
}
nav.global ul li:hover {
  border-left: 1px solid #fff;
}
nav.global ul li:hover a {
  background-color: #D8D8D8;
  color: #fff;
}
nav.global ul li:hover li a {
  color: #949494;
}
nav.global ul li a {
  padding-top: 3px;
  font-size: 0.8125em;
  line-height: 1.23076923em;
  padding-left: 0.3125em;
  color: #949494;
  text-decoration: none;
  font-family: "proxima-nova", sans-serif;
  padding-bottom: 3px;
  display: block;
  padding-right: 1em;
  height: 49px;
  -webkit-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
}
nav.global ul li.menu-item-23 {
  border-left: 0;
  padding-left: 0;
}
nav.global ul li.menu-item-23 a {
  background: url(../img/icon-home-grey.svg) no-repeat;
  display: block;
  width: 21px;
  height: 19px;
  text-indent: -999em;
}
nav.global ul li.current-menu-item,
nav.global ul li.current_page_item,
nav.global ul li.current_page_parent {
  /*
        &.menu-item-25 a { color:@royalBlue; }
        &.menu-item-26 a { color:@emerald; }
        &.menu-item-27 a { color:@lightBlue; }
        &.menu-item-28 a { color:@lime; }
        */
}
nav.global ul li.current-menu-item a,
nav.global ul li.current_page_item a,
nav.global ul li.current_page_parent a {
  color: #e00e2a;
}
nav.global ul li.current-menu-item.menu-item-23 a,
nav.global ul li.current_page_item.menu-item-23 a,
nav.global ul li.current_page_parent.menu-item-23 a {
  background: url(../img/icon-home-red.svg) no-repeat;
}
nav.global ul ul.sub-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #d8d8d8;
  overflow: hidden;
  height: auto;
  width: 200px;
  padding: 5px 0 5px 0;
}
nav.global ul ul.sub-menu li {
  clear: both;
  float: none;
  padding: 0;
  border: 0;
  height: auto;
}
nav.global ul ul.sub-menu li a {
  height: auto;
  font-family: "proxima-nova", sans-serif;
  font-size: 0.8125em;
  line-height: 1.23076923em;
  color: #949494;
  padding: 0 0 0 5px;
}
nav.global ul ul.sub-menu li:hover {
  border: 0;
}
.content .banner {
  overflow: hidden;
}
.content .banner img {
  float: left;
}
.content .banner .placeholder {
  display: block;
  background-color: #e5e5e5;
  float: left;
}
.content .banner .placeholder.feature1 {
  width: 470px;
  height: 340px;
}
.content .banner .placeholder.feature2 {
  width: 470px;
  height: 235px;
}
.content .banner .placeholder.banner {
  width: 940px;
  height: 340px;
}
.content .banner .placeholder.thumbnail {
  width: 235px;
  height: 235px;
  background-color: #f5f5f5;
}
.content .banner .feature {
  float: right;
  display: block;
  width: 390px;
  height: 260px;
  padding: 40px;
  background: #e00e2a;
}
.content .banner .feature h1 {
  color: #f88f9d;
  font-family: "proxima-nova", sans-serif;
  margin: 0;
  font-weight: 100;
  font-size: 2.125em;
  line-height: 1.11764706em;
}
.content .banner .feature p {
  font-size: 2.125em;
  line-height: 1.11764706em;
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
  margin: 0;
  color: #fff;
}
.content .banner .block {
  width: 410px;
  height: 175px;
  float: left;
  margin: 0;
  padding: 30px;
  background-color: #949494;
  position: relative;
}
.content .banner .block.sml {
  width: 195px;
  padding-left: 20px;
  padding-right: 20px;
}
.content .banner .block.black {
  background-color: #000;
}
.content .banner .block.red {
  background-color: #e00e2a;
}
.content .banner .block.wide {
  width: 740px;
  height: auto;
}
.content .banner .block.wide p {
  font-size: 2.125em;
  line-height: 1.11764706em;
  font-weight: 100;
}
.content .banner .block p {
  margin: 0 0 1.3em 0;
  font-family: "proxima-nova", sans-serif;
  color: #fff;
  font-size: 1.25em;
  line-height: 1.3em;
}
.content .banner .block p.lrg {
  font-size: 2.125em;
  line-height: 1.11764706em;
}
.content .banner .block p.dl {
  margin: 0;
}
.content .banner .block p a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
}
.content .banner .block p a:hover {
  color: #333;
}
.content .banner .block footer {
  position: absolute;
  bottom: 30px;
}
.content .banner .block footer p {
  font-size: 1em;
}
.main {
  overflow: hidden;
}
.main.full {
  width: 940px;
}
.main.full article {
  width: 100%;
}
.main.full h1 {
  font-size: 2.125em;
  line-height: 1.11764706em;
  color: #e00e2a;
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
  border-bottom: 1px solid #f88f9d;
  padding: 1.47058824em 0;
  margin: 0 0 1em 0;
}
.main .intro {
  border-bottom: 1px solid #f88f9d;
}
.main .intro p {
  font-size: 2.125em;
  line-height: 1.11764706em;
  margin: 1.11764706em 0;
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
  color: #e00e2a;
  width: 470px;
}
.main aside {
  width: 460px;
  float: left;
}
.main aside p {
  font-size: 1.25em;
  line-height: 1.3em;
  margin: 1em 0 1.3em 0;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
}
.main article {
  width: 470px;
  float: right;
}
.main article h1,
.main article h2,
.main article h3,
.main article h4 {
  font-family: "proxima-nova", sans-serif;
  color: #e00e2a;
  font-size: 1em;
  line-height: 1.25em;
  margin: 1.25em 0;
}
.main article p {
  font-family: "proxima-nova", sans-serif;
  color: #949494;
  font-size: 1em;
  line-height: 1.25em;
  margin: 1.25em 0;
}
.main article ul,
.main article ol {
  font-family: "proxima-nova", sans-serif;
  color: #e00e2a;
  font-size: 1em;
  line-height: 1.25em;
  margin: 1.25em 0;
}
.main article ul a,
.main article ol a {
  color: #e00e2a;
}
.main article blockquote {
  border-left: 1px solid #949494;
  margin-left: 0;
  padding-left: 1.5em;
}
.main article blockquote p {
  color: #949494;
  font-size: 1.25em;
  line-height: 1.3em;
}
.team {
  overflow: 100%;
}
.team .member {
  width: 800px;
}
.team .member img {
  float: left;
}
.team .member .blank {
  display: block;
  width: 235px;
  height: 235px;
  float: left;
  background-color: #f5f5f5;
}
.team .member article {
  float: right;
  width: 565px;
  background-color: #000;
  height: 235px;
  position: relative;
}
.team .member article header {
  position: absolute;
  left: 50px;
  top: 30px;
}
.team .member article header h1 {
  font-family: "proxima-nova", sans-serif;
  font-size: 2.125em;
  line-height: 1em;
  color: #fff;
  font-weight: 100;
  margin: 0;
}
.team .member article header h1 span {
  font-weight: 700;
  text-transform: uppercase;
}
.team .member article header h2 {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.5em;
  line-height: 1em;
  font-weight: 100;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
}
.team .member article ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #b0b0b0;
  font-size: 1em;
  line-height: 20px;
  font-family: "proxima-nova", sans-serif;
  position: absolute;
  bottom: 30px;
  left: 50px;
  font-weight: 300;
}
.team .member article ul li span {
  display: inline-block;
  width: 60px;
}
.team .member article ul li a {
  color: #b0b0b0;
  text-decoration: none;
  -webkit-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
}
.team .member article ul li a:hover {
  color: #fff;
}
.team .member.right img {
  float: right;
}
.team .member.right .blank {
  float: right;
}
.team .member.right article {
  float: left;
  background-color: #333;
}
.royal-blue nav.global ul li.current-menu-item a,
.royal-blue nav.global ul li.current_page_item a,
.royal-blue nav.global ul li.current_page_parent a {
  color: #264353;
}
.royal-blue .banner .feature {
  background: #264353;
}
.royal-blue .banner .feature h1 {
  color: #5d96b5;
}
.royal-blue .main .intro {
  border-bottom: 1px solid #5d96b5;
}
.royal-blue .main .intro p,
.royal-blue .main article ul,
.royal-blue .main article ol {
  color: #264353;
}
.light-blue nav.global ul li.current-menu-item a,
.light-blue nav.global ul li.current_page_item a,
.light-blue nav.global ul li.current_page_parent a {
  color: #75a8be;
}
.light-blue .banner .feature {
  background: #75a8be;
}
.light-blue .banner .feature h1 {
  color: #ddeaef;
}
.light-blue .main .intro {
  border-bottom: 1px solid #ddeaef;
}
.light-blue .main .intro p,
.light-blue .main article ul,
.light-blue .main article ol {
  color: #75a8be;
}
.emerald nav.global ul li.current-menu-item a,
.emerald nav.global ul li.current_page_item a,
.emerald nav.global ul li.current_page_parent a {
  color: #47a88f;
}
.emerald .banner .feature {
  background: #47a88f;
}
.emerald .banner .feature h1 {
  color: #acdcd0;
}
.emerald .main .intro {
  border-bottom: 1px solid #acdcd0;
}
.emerald .main .intro p,
.emerald .main article ul,
.emerald .main article ol {
  color: #47a88f;
}
.lime nav.global ul li.current-menu-item a,
.lime nav.global ul li.current_page_item a,
.lime nav.global ul li.current_page_parent a {
  color: #9cc34c;
}
.lime .banner .feature {
  background: #9cc34c;
}
.lime .banner .feature h1 {
  color: #dbe9bf;
}
.lime .main .intro {
  border-bottom: 1px solid #dbe9bf;
}
.lime .main .intro p,
.lime .main article ul,
.lime .main article ol {
  color: #9cc34c;
}
footer#main-footer {
  clear: both;
  padding: 2.5em 0 1em 0;
}
footer#main-footer a {
  margin-right: 5px;
  color: #949494;
  text-decoration: none;
}
footer#main-footer a:hover {
  color: #e00e2a;
}
footer#main-footer p {
  font-size: 0.8125em;
  line-height: 1.23076923em;
  color: #949494;
  font-family: "proxima-nova", sans-serif;
}
footer#main-footer ul {
  font-size: 0.8125em;
  line-height: 1.23076923em;
  list-style-type: none;
  padding: 0;
  font-family: "proxima-nova", sans-serif;
}
footer#main-footer ul li {
  display: inline-block;
}
.blog h1.title,
.archive h1.title,
.single-post h1.title,
.page-template-tmpl-property-list-php h1.title {
  font-size: 2.125em;
  line-height: 1.11764706em;
  color: #e00e2a;
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
  border-bottom: 1px solid #f88f9d;
  padding: 1.47058824em 0;
  margin: 0 0 1em 0;
}
.blog .sidebar,
.archive .sidebar,
.single-post .sidebar,
.page-template-tmpl-property-list-php .sidebar {
  width: 225px;
  float: left;
}
.blog .sidebar header,
.archive .sidebar header,
.single-post .sidebar header,
.page-template-tmpl-property-list-php .sidebar header {
  color: #e00e2a;
  font-family: "proxima-nova", sans-serif;
}
.blog .sidebar header a,
.archive .sidebar header a,
.single-post .sidebar header a,
.page-template-tmpl-property-list-php .sidebar header a {
  color: #e00e2a;
  text-decoration: none;
  padding-left: 12px;
  background: url(../img/archive-arrow-left.svg) no-repeat left center;
}
.blog .sidebar ul,
.archive .sidebar ul,
.single-post .sidebar ul,
.page-template-tmpl-property-list-php .sidebar ul {
  font-family: "proxima-nova", sans-serif;
  font-size: 1em;
  line-height: 1.25em;
  margin: 1.25em 0;
  list-style-type: none;
  color: #949494;
  padding: 0;
}
.blog .sidebar ul li a,
.archive .sidebar ul li a,
.single-post .sidebar ul li a,
.page-template-tmpl-property-list-php .sidebar ul li a {
  color: #949494;
  text-decoration: none;
}
.blog .sidebar ul li a.active,
.archive .sidebar ul li a.active,
.single-post .sidebar ul li a.active,
.page-template-tmpl-property-list-php .sidebar ul li a.active {
  color: #333;
}
.blog .sidebar ul li a em,
.archive .sidebar ul li a em,
.single-post .sidebar ul li a em,
.page-template-tmpl-property-list-php .sidebar ul li a em {
  font-style: normal;
  color: #ccc;
}
.blog .sidebar ul li a:hover,
.archive .sidebar ul li a:hover,
.single-post .sidebar ul li a:hover,
.page-template-tmpl-property-list-php .sidebar ul li a:hover {
  color: #e00e2a;
}
.blog .sidebar ul li span,
.archive .sidebar ul li span,
.single-post .sidebar ul li span,
.page-template-tmpl-property-list-php .sidebar ul li span {
  cursor: pointer;
  display: block;
  width: 52px;
  background: url(../img/archive-arrow-up.svg) no-repeat right center;
}
.blog .sidebar ul li span.active,
.archive .sidebar ul li span.active,
.single-post .sidebar ul li span.active,
.page-template-tmpl-property-list-php .sidebar ul li span.active {
  background: url(../img/archive-arrow-down.svg) no-repeat right center;
}
.blog .sidebar ul li ul,
.archive .sidebar ul li ul,
.single-post .sidebar ul li ul,
.page-template-tmpl-property-list-php .sidebar ul li ul {
  margin: 0 0 1.25em 40px;
  display: none;
}
.blog .sidebar ul li ul li a,
.archive .sidebar ul li ul li a,
.single-post .sidebar ul li ul li a,
.page-template-tmpl-property-list-php .sidebar ul li ul li a {
  color: #949494;
  text-decoration: none;
}
.blog .sidebar ul li ul li a:hover,
.archive .sidebar ul li ul li a:hover,
.single-post .sidebar ul li ul li a:hover,
.page-template-tmpl-property-list-php .sidebar ul li ul li a:hover {
  color: #e00e2a;
}
.blog #news,
.archive #news,
.single-post #news,
.page-template-tmpl-property-list-php #news,
.blog #property-list,
.archive #property-list,
.single-post #property-list,
.page-template-tmpl-property-list-php #property-list {
  width: 705px;
  float: right;
}
.blog #news p,
.archive #news p,
.single-post #news p,
.page-template-tmpl-property-list-php #news p,
.blog #property-list p,
.archive #property-list p,
.single-post #property-list p,
.page-template-tmpl-property-list-php #property-list p {
  font-size: 1.25em;
  line-height: 1.3em;
  margin: 0 0 1.3em 0;
  font-family: "proxima-nova", sans-serif;
  width: 470px;
}
.blog #news p em,
.archive #news p em,
.single-post #news p em,
.page-template-tmpl-property-list-php #news p em,
.blog #property-list p em,
.archive #property-list p em,
.single-post #property-list p em,
.page-template-tmpl-property-list-php #property-list p em {
  color: #e00e2a;
  font-style: normal;
}
.blog #news p a,
.archive #news p a,
.single-post #news p a,
.page-template-tmpl-property-list-php #news p a,
.blog #property-list p a,
.archive #property-list p a,
.single-post #property-list p a,
.page-template-tmpl-property-list-php #property-list p a {
  color: #e00e2a;
  text-decoration: none;
}
.blog #news p a:hover,
.archive #news p a:hover,
.single-post #news p a:hover,
.page-template-tmpl-property-list-php #news p a:hover,
.blog #property-list p a:hover,
.archive #property-list p a:hover,
.single-post #property-list p a:hover,
.page-template-tmpl-property-list-php #property-list p a:hover {
  text-decoration: underline;
}
.blog #news article,
.archive #news article,
.single-post #news article,
.page-template-tmpl-property-list-php #news article,
.blog #property-list article,
.archive #property-list article,
.single-post #property-list article,
.page-template-tmpl-property-list-php #property-list article {
  margin-bottom: 10px;
  overflow: hidden;
}
.blog #news article a.img,
.archive #news article a.img,
.single-post #news article a.img,
.page-template-tmpl-property-list-php #news article a.img,
.blog #property-list article a.img,
.archive #property-list article a.img,
.single-post #property-list article a.img,
.page-template-tmpl-property-list-php #property-list article a.img {
  float: left;
  width: 470px;
  height: 235px;
  background-color: #f5f5f5;
}
.blog #news article div,
.archive #news article div,
.single-post #news article div,
.page-template-tmpl-property-list-php #news article div,
.blog #property-list article div,
.archive #property-list article div,
.single-post #property-list article div,
.page-template-tmpl-property-list-php #property-list article div {
  position: relative;
  width: 195px;
  height: 195px;
  float: right;
  background-color: #E4E4E4;
  padding: 20px;
}
.blog #news article div h1,
.archive #news article div h1,
.single-post #news article div h1,
.page-template-tmpl-property-list-php #news article div h1,
.blog #property-list article div h1,
.archive #property-list article div h1,
.single-post #property-list article div h1,
.page-template-tmpl-property-list-php #property-list article div h1 {
  font-size: 1.25em;
  line-height: 1.3em;
  margin: 0;
  color: #949494;
  font-weight: 400;
  font-family: "proxima-nova", sans-serif;
}
.blog #news article div h1 a,
.archive #news article div h1 a,
.single-post #news article div h1 a,
.page-template-tmpl-property-list-php #news article div h1 a,
.blog #property-list article div h1 a,
.archive #property-list article div h1 a,
.single-post #property-list article div h1 a,
.page-template-tmpl-property-list-php #property-list article div h1 a {
  color: #949494;
  text-decoration: none;
}
.blog #news article div h1 a:hover,
.archive #news article div h1 a:hover,
.single-post #news article div h1 a:hover,
.page-template-tmpl-property-list-php #news article div h1 a:hover,
.blog #property-list article div h1 a:hover,
.archive #property-list article div h1 a:hover,
.single-post #property-list article div h1 a:hover,
.page-template-tmpl-property-list-php #property-list article div h1 a:hover {
  color: #e00e2a;
}
.blog #news article div p,
.archive #news article div p,
.single-post #news article div p,
.page-template-tmpl-property-list-php #news article div p,
.blog #property-list article div p,
.archive #property-list article div p,
.single-post #property-list article div p,
.page-template-tmpl-property-list-php #property-list article div p {
  font-size: 1em;
}
.blog #news article div .details,
.archive #news article div .details,
.single-post #news article div .details,
.page-template-tmpl-property-list-php #news article div .details,
.blog #property-list article div .details,
.archive #property-list article div .details,
.single-post #property-list article div .details,
.page-template-tmpl-property-list-php #property-list article div .details {
  width: 195px;
  height: auto;
  display: block;
  position: absolute;
  bottom: 40px;
  padding: 0;
}
.blog #news article div .details p,
.archive #news article div .details p,
.single-post #news article div .details p,
.page-template-tmpl-property-list-php #news article div .details p,
.blog #property-list article div .details p,
.archive #property-list article div .details p,
.single-post #property-list article div .details p,
.page-template-tmpl-property-list-php #property-list article div .details p {
  margin: 5px 0;
  color: #666;
}
.blog #news article div a.read-more,
.archive #news article div a.read-more,
.single-post #news article div a.read-more,
.page-template-tmpl-property-list-php #news article div a.read-more,
.blog #property-list article div a.read-more,
.archive #property-list article div a.read-more,
.single-post #property-list article div a.read-more,
.page-template-tmpl-property-list-php #property-list article div a.read-more {
  display: block;
  width: 202px;
  padding: 0 10px 0 23px;
  font-size: 0.8125em;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "proxima-nova", sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #949494 url(../img/icon-plus.svg) no-repeat 10px 10px;
}
.blog #news article div a.read-more:hover,
.archive #news article div a.read-more:hover,
.single-post #news article div a.read-more:hover,
.page-template-tmpl-property-list-php #news article div a.read-more:hover,
.blog #property-list article div a.read-more:hover,
.archive #property-list article div a.read-more:hover,
.single-post #property-list article div a.read-more:hover,
.page-template-tmpl-property-list-php #property-list article div a.read-more:hover {
  background-color: #e00e2a;
  background-image: url(../img/icon-plus-white.svg);
}
.blog #news .postnav,
.archive #news .postnav,
.single-post #news .postnav,
.page-template-tmpl-property-list-php #news .postnav,
.blog #property-list .postnav,
.archive #property-list .postnav,
.single-post #property-list .postnav,
.page-template-tmpl-property-list-php #property-list .postnav {
  margin: 20px 0;
  padding: 0;
}
.blog #news .postnav li,
.archive #news .postnav li,
.single-post #news .postnav li,
.page-template-tmpl-property-list-php #news .postnav li,
.blog #property-list .postnav li,
.archive #property-list .postnav li,
.single-post #property-list .postnav li,
.page-template-tmpl-property-list-php #property-list .postnav li {
  width: 235px;
}
.blog #news .postnav li a,
.archive #news .postnav li a,
.single-post #news .postnav li a,
.page-template-tmpl-property-list-php #news .postnav li a,
.blog #property-list .postnav li a,
.archive #property-list .postnav li a,
.single-post #property-list .postnav li a,
.page-template-tmpl-property-list-php #property-list .postnav li a {
  display: block;
  padding: 0 10px 0 10px;
  font-size: 0.8125em;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "proxima-nova", sans-serif;
  background-color: #363636;
}
.blog #news .postnav li a:hover,
.archive #news .postnav li a:hover,
.single-post #news .postnav li a:hover,
.page-template-tmpl-property-list-php #news .postnav li a:hover,
.blog #property-list .postnav li a:hover,
.archive #property-list .postnav li a:hover,
.single-post #property-list .postnav li a:hover,
.page-template-tmpl-property-list-php #property-list .postnav li a:hover {
  background-color: #e00e2a;
}
.blog #news .postnav li.previous,
.archive #news .postnav li.previous,
.single-post #news .postnav li.previous,
.page-template-tmpl-property-list-php #news .postnav li.previous,
.blog #property-list .postnav li.previous,
.archive #property-list .postnav li.previous,
.single-post #property-list .postnav li.previous,
.page-template-tmpl-property-list-php #property-list .postnav li.previous {
  float: left;
}
.blog #news .postnav li.previous a,
.archive #news .postnav li.previous a,
.single-post #news .postnav li.previous a,
.page-template-tmpl-property-list-php #news .postnav li.previous a,
.blog #property-list .postnav li.previous a,
.archive #property-list .postnav li.previous a,
.single-post #property-list .postnav li.previous a,
.page-template-tmpl-property-list-php #property-list .postnav li.previous a {
  width: 449px;
  text-align: left;
}
.blog #news .postnav li.next,
.archive #news .postnav li.next,
.single-post #news .postnav li.next,
.page-template-tmpl-property-list-php #news .postnav li.next,
.blog #property-list .postnav li.next,
.archive #property-list .postnav li.next,
.single-post #property-list .postnav li.next,
.page-template-tmpl-property-list-php #property-list .postnav li.next {
  float: right;
}
.blog #news .postnav li.next a,
.archive #news .postnav li.next a,
.single-post #news .postnav li.next a,
.page-template-tmpl-property-list-php #news .postnav li.next a,
.blog #property-list .postnav li.next a,
.archive #property-list .postnav li.next a,
.single-post #property-list .postnav li.next a,
.page-template-tmpl-property-list-php #property-list .postnav li.next a {
  text-align: right;
}
.blog #property-list article div,
.archive #property-list article div,
.single-post #property-list article div,
.page-template-tmpl-property-list-php #property-list article div {
  float: none;
  height: auto;
  padding: 0;
  background-color: transparent;
}
.blog #property-list article div a,
.archive #property-list article div a,
.single-post #property-list article div a,
.page-template-tmpl-property-list-php #property-list article div a {
  width: 437px;
}
.blog #property-list article div h2,
.archive #property-list article div h2,
.single-post #property-list article div h2,
.page-template-tmpl-property-list-php #property-list article div h2 {
  font-size: 1.25em;
  line-height: 1.3em;
  margin: 0;
  color: #949494;
  font-weight: 400;
  font-family: "proxima-nova", sans-serif;
}
.blog #property-list article div h3,
.archive #property-list article div h3,
.single-post #property-list article div h3,
.page-template-tmpl-property-list-php #property-list article div h3 {
  font-size: 1.25em;
  line-height: 1.3em;
  margin: 20px 0 0 0;
  color: #949494;
  font-weight: 700;
  font-family: "proxima-nova", sans-serif;
}
.blog #property-list article .details,
.archive #property-list article .details,
.single-post #property-list article .details,
.page-template-tmpl-property-list-php #property-list article .details {
  background-color: #E4E4E4;
  float: right;
  padding: 20px;
  width: 430px;
  height: 195px;
}
.blog #property-list article .cycle-slideshow,
.archive #property-list article .cycle-slideshow,
.single-post #property-list article .cycle-slideshow,
.page-template-tmpl-property-list-php #property-list article .cycle-slideshow {
  position: relative;
  width: 235px;
  height: 235px;
  float: left;
  background-color: #f5f5f5;
  padding: 0;
}
.blog #property-list article .cycle-slideshow .cycle-pager,
.archive #property-list article .cycle-slideshow .cycle-pager,
.single-post #property-list article .cycle-slideshow .cycle-pager,
.page-template-tmpl-property-list-php #property-list article .cycle-slideshow .cycle-pager {
  position: absolute;
  bottom: 10px;
  z-index: 1000;
  text-align: center;
  font-size: 2em;
  width: 100%;
  line-height: 10px;
}
.blog #property-list article .cycle-slideshow .cycle-pager span,
.archive #property-list article .cycle-slideshow .cycle-pager span,
.single-post #property-list article .cycle-slideshow .cycle-pager span,
.page-template-tmpl-property-list-php #property-list article .cycle-slideshow .cycle-pager span {
  color: #f5f5f5;
  cursor: pointer;
}
.blog #property-list article .cycle-slideshow .cycle-pager span.cycle-pager-active,
.archive #property-list article .cycle-slideshow .cycle-pager span.cycle-pager-active,
.single-post #property-list article .cycle-slideshow .cycle-pager span.cycle-pager-active,
.page-template-tmpl-property-list-php #property-list article .cycle-slideshow .cycle-pager span.cycle-pager-active {
  color: #e00e2a;
  cursor: default;
}
.blog #single,
.archive #single,
.single-post #single,
.page-template-tmpl-property-list-php #single {
  width: 705px;
  float: right;
}
.blog #single article h1,
.archive #single article h1,
.single-post #single article h1,
.page-template-tmpl-property-list-php #single article h1 {
  font-size: 2.125em;
  line-height: 1.11764706em;
  margin: 0 0 1.11764706em 0;
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
  color: #e00e2a;
  width: 470px;
}
.blog #single article p,
.archive #single article p,
.single-post #single article p,
.page-template-tmpl-property-list-php #single article p {
  font-family: "proxima-nova", sans-serif;
  color: #949494;
  font-size: 1em;
  line-height: 1.25em;
  margin: 1.25em 0;
}
.blog #single article a,
.archive #single article a,
.single-post #single article a,
.page-template-tmpl-property-list-php #single article a {
  color: #e00e2a;
}
.blog #single article ul,
.archive #single article ul,
.single-post #single article ul,
.page-template-tmpl-property-list-php #single article ul,
.blog #single article ol,
.archive #single article ol,
.single-post #single article ol,
.page-template-tmpl-property-list-php #single article ol {
  font-family: "proxima-nova", sans-serif;
  color: #e00e2a;
  font-size: 1em;
  line-height: 1.25em;
  margin: 1.25em 0;
}
.blog #single article blockquote,
.archive #single article blockquote,
.single-post #single article blockquote,
.page-template-tmpl-property-list-php #single article blockquote {
  border-left: 1px solid #949494;
  margin-left: 0;
  padding-left: 1.5em;
}
.blog #single article blockquote p,
.archive #single article blockquote p,
.single-post #single article blockquote p,
.page-template-tmpl-property-list-php #single article blockquote p {
  color: #949494;
  font-size: 1.25em;
  line-height: 1.3em;
  margin-bottom: 1.3em;
}
.gform_wrapper .validation_error {
  font-family: "proxima-nova", sans-serif;
  color: #fff;
  background-color: #e00e2a;
  padding: 5px;
  margin: 1.5em 0;
}
.gform_wrapper .gform_body .gform_fields {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.gform_wrapper .gform_body .gform_fields .gfield {
  margin: 0 0 5px 0;
  overflow: hidden;
}
.gform_wrapper .gform_body .gform_fields .gfield .gfield_label {
  display: inline-block;
  width: 100px;
  float: left;
  line-height: 1em;
  padding: 5px 0;
  color: #949494;
}
.gform_wrapper .gform_body .gform_fields .gfield .gfield_required {
  color: #e00e2a;
}
.gform_wrapper .gform_body .gform_fields .gfield .ginput_container {
  width: 370px;
  float: left;
}
.gform_wrapper .gform_body .gform_fields .gfield .ginput_container input,
.gform_wrapper .gform_body .gform_fields .gfield .ginput_container textarea {
  width: 360px;
  padding: 5px;
  background-color: #f5f5f5;
  border: 0;
  line-height: 1em;
  font-family: "proxima-nova", sans-serif;
  outline: none;
}
.gform_wrapper .gform_body .gform_fields .gfield .validation_message {
  color: #e00e2a;
  float: left;
  padding: 5px 0;
  line-height: 1em;
  width: 370px;
  margin: 5px 0 0 0;
  margin-left: 100px;
}
.gform_wrapper .gform_body .gform_fields .gfield_error .ginput_container input,
.gform_wrapper .gform_body .gform_fields .gfield_error .ginput_container textarea {
  background-color: #f88f9d;
  color: #e00e2a;
}
.gform_wrapper .gform_body .gform_validation_container {
  display: none;
}
.gform_wrapper .gform_footer .gform_button {
  display: block;
  width: 202px;
  padding: 6px 10px 6px 23px;
  font-size: 0.8125em;
  line-height: 1em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "proxima-nova", sans-serif;
  border: 0;
  text-align: left;
  margin-left: 100px;
  background: #363636 url(../img/icon-plus.svg) no-repeat 10px center;
}
.gform_wrapper .gform_footer .gform_button:hover {
  background-color: #e00e2a;
  background-image: url(../img/icon-plus-white.svg);
}
.gform_confirmation_wrapper {
  font-family: "proxima-nova", sans-serif;
  color: #949494;
}
.gform_confirmation_wrapper .gform_confirmation_message_1 {
  color: #9cc34c;
}
#map {
  display: block;
  width: 940px;
  height: 420px;
  background-color: #f5f5f5;
}
.home #splash {
  display: block;
  width: 940px;
  height: 470px;
  overflow: hidden;
}
.home #splash .cycle-pager {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 9999;
  line-height: 10px;
  font-size: 2em;
}
.home #splash .cycle-pager span {
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
}
.home #splash .cycle-pager span:hover {
  color: #696969;
}
.home #splash .cycle-pager span.cycle-pager-active {
  color: #e00e2a;
}
.home #splash .slide {
  width: 940px;
  height: 470px;
}
.home #splash .slide img {
  float: left;
}
.home #splash .slide article {
  float: left;
  background-color: #e00e2a;
  display: block;
  width: 410px;
  height: 410px;
  padding: 30px;
  position: relative;
}
.home #splash .slide article h1 {
  font-size: 2.125em;
  line-height: 1em;
  color: #fff;
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
  margin: 20px 0 0 0;
}
.home #splash .slide article h2 {
  font-size: 2.125em;
  line-height: 1em;
  color: #f88f9d;
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
  margin: 0;
}
.home #splash .slide article p {
  color: #fff;
  font-family: "proxima-nova", sans-serif;
  margin: 10px 0;
}
.home #splash .slide article ul {
  color: #fff;
  font-family: "proxima-nova", sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.home #splash .slide article ul li {
  border-bottom: 1px solid #b00b21;
  line-height: 30px;
}
.home #splash .slide article ul li:last-child {
  border-bottom: 0;
}
.home #splash .slide article a {
  display: block;
  width: 202px;
  padding: 0 10px 0 23px;
  font-size: 0.8125em;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "proxima-nova", sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #b00b21 url(../img/icon-plus.svg) no-repeat 10px 10px;
}
.home #splash .slide article a:hover {
  background-color: #363636;
  background-image: url(../img/icon-plus-white.svg);
}
.home #splash .slide article.royal-blue {
  background-color: #264353;
}
.home #splash .slide article.royal-blue h1 {
  color: #5d96b5;
}
.home #splash .slide article.royal-blue h2 {
  color: #fff;
}
.home #splash .slide article.royal-blue ul li {
  border-bottom: 1px solid #365f76;
}
.home #splash .slide article.royal-blue ul li:last-child {
  border-bottom: 0;
}
.home #splash .slide article.royal-blue a {
  background-color: #365f76;
}
.home #splash .slide article.light-blue {
  background-color: #75a8be;
}
.home #splash .slide article.light-blue h1 {
  color: #a9c9d6;
}
.home #splash .slide article.light-blue h2 {
  color: #fff;
}
.home #splash .slide article.light-blue ul li {
  border-bottom: 1px solid #98bece;
}
.home #splash .slide article.light-blue ul li:last-child {
  border-bottom: 0;
}
.home #splash .slide article.light-blue a {
  background-color: #98bece;
}
.home #splash .slide article.emerald {
  background-color: #47a88f;
}
.home #splash .slide article.emerald h1 {
  color: #88cdbb;
}
.home #splash .slide article.emerald h2 {
  color: #fff;
}
.home #splash .slide article.emerald ul li {
  border-bottom: 1px solid #64bea7;
}
.home #splash .slide article.emerald ul li:last-child {
  border-bottom: 0;
}
.home #splash .slide article.emerald a {
  background-color: #64bea7;
}
.home #splash .slide article.lime {
  background-color: #9cc34c;
}
.home #splash .slide article.lime h1 {
  color: #dbe9bf;
}
.home #splash .slide article.lime h2 {
  color: #fff;
}
.home #splash .slide article.lime ul li {
  border-bottom: 1px solid #b1d072;
}
.home #splash .slide article.lime a {
  background-color: #b1d072;
}
.home .widget {
  display: block;
  width: 470px;
  height: 160px;
  float: left;
  position: relative;
  background-color: #949494;
}
.home .widget#newsletter {
  width: 940px;
}
.home .widget#newsletter img {
  position: absolute;
  right: 0;
  z-index: 4;
}
.home .widget#newsletter span {
  display: block;
  background: url(../img/grey-arrow.png);
  width: 40px;
  height: 160px;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 470px;
}
.home .widget div {
  display: block;
  width: 430px;
  height: 120px;
  position: absolute;
  left: 0;
  padding: 20px;
}
.home .widget div header {
  font-family: "proxima-nova", sans-serif;
  color: #fff;
  margin: 0 0 5px 0;
}
.home .widget div p.lrg {
  font-size: 2.125em;
  line-height: 1em;
  color: #fff;
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
  margin: 0;
}
.home .widget div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "proxima-nova", sans-serif;
}
.home .widget div ul li {
  color: #fff;
  font-size: 1.25em;
  line-height: 1.2em;
}
.home .widget div ul li span {
  display: inline-block;
  width: 80px;
}
.home .widget div ul li a {
  color: #fff;
  text-decoration: none;
}
.home .widget div ul li a:hover {
  color: #e00e2a;
}
.home .widget div ul li a.grey {
  color: #949494;
}
.home .widget div a.btn {
  display: block;
  width: 202px;
  padding: 0 10px 0 23px;
  font-size: 0.8125em;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "proxima-nova", sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #b00b21 url(../img/icon-plus.svg) no-repeat 10px 10px;
}
.home .widget div a.btn:hover {
  background-color: #363636;
  background-image: url(../img/icon-plus-white.svg);
}
.home .widget.grey a.btn {
  background-color: #7b7b7b;
}
.home .widget.black {
  background-color: #000;
}
.home .widget.black header {
  color: #e00e2a;
}
.home .widget.black a.btn {
  background-color: #363636;
}
.home .widget.red {
  background-color: #e00e2a;
}
.home .widget.red header {
  color: #faa7b2;
}
.home .widget.red a.btn {
  background-color: #b00b21;
}
.home .widget#twitter #tweets {
  padding: 0;
  position: absolute;
  left: 20px;
}
.home .widget#twitter #tweets .tweet {
  padding: 0;
  height: 115px;
  position: relative;
}
.home .widget#twitter #tweets .tweet p {
  margin: 0;
  font-family: "proxima-nova", sans-serif;
  color: #fff;
}
.home .widget#twitter #tweets .tweet p a {
  color: #f77788;
  text-decoration: none;
}
.home .widget#twitter #tweets .tweet p a:hover {
  text-decoration: underline;
}
.home .widget#twitter #tweets .tweet p.date {
  color: #800818;
  font-size: 12px;
  position: absolute;
  right: 5px;
  bottom: 15px;
}
/* Cookie Cuttr */
/* To be used with cookieCuttr by Chris Wharton (http://cookiecuttr.com) */
.cc-cookies {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0;
  background: #949494;
  z-index: 99999;
  color: #fff;
  font-family: "proxima-nova", sans-serif;
  font-size: 1em;
  margin-bottom: 20px;
}
.cc-cookies .inner {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
}
.cc-cookies .inner p {
  width: 800px;
  float: left;
  margin: 0;
  line-height: 1em;
  padding: 10px 0;
  font-size: 12px;
  line-height: 20px;
}
.cc-cookies a,
.cc-cookies a:hover {
  color: #fff;
  text-decoration: underline;
}
.cc-cookies a:hover {
  text-decoration: none;
}
.cc-overlay {
  height: 100%;
  padding-top: 25%;
}
.cc-cookies-error {
  float: left;
  width: 90%;
  margin: 1em 0 2em 0;
  background: #fff;
  padding: 2em 5%;
  border: 1px solid #ccc;
  font-size: 18px;
  color: #333;
}
.cc-cookies a.cc-cookie-accept,
.cc-cookies-error a.cc-cookie-accept,
.cc-cookies a.cc-cookie-decline,
.cc-cookies-error a.cc-cookie-decline,
.cc-cookies a.cc-cookie-reset {
  display: inline-block;
  color: #363636;
  text-decoration: none;
  background: #9cc34c;
  text-align: center;
  float: right;
  padding: 10px;
  width: 120px;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}
.cc-cookies a.cc-cookie-decline,
.cc-cookies-error a.cc-cookie-decline {
  background: #af3b3b;
  margin-left: 0.5em;
}
.cc-cookies a.cc-cookie-reset {
  background: #f15b00;
}
.cc-cookies-error a.cc-cookie-accept,
.cc-cookies-error a.cc-cookie-decline {
  display: block;
  margin-top: 1em;
}
.cc-cookies.cc-discreet {
  width: auto;
  padding: 0.5em 1em;
  left: auto;
  top: auto;
}
.cc-cookies.cc-discreet a.cc-cookie-reset {
  background: none;
  text-shadow: none;
  padding: 0;
  text-decoration: underline;
}
.cc-cookies.cc-discreet a:hover.cc-cookie-reset {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .cc-cookies a.cc-cookie-accept,
  .cc-cookies a.cc-cookie-decline,
  .cc-cookies a.cc-cookie-reset {
    display: block;
    margin: 1em 0;
  }
}
@media screen and (max-width: 480px) {
  .cc-cookies {
    position: relative;
    float: left;
  }
}
